body {
  margin: 0;
  background-color: #eeedeb;
}
/* #f1f0e8; */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  background-color: #eeedeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Add any other header styles */
}

.form {
  background-color: #747264;
  margin: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Add any form-specific styles here */
  padding: 10px 40px; /* Add 30px padding */
  border-radius: 15px; /* Make the edges rounded */
}

.form label {
  margin: 10; /* Remove default margin */
  color: white; /* Change color as needed */
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title img {
  margin-right: 10px; /* Adjust margin as needed */
  align-items: center;
}

.heading {
  margin: 10; /* Remove default margin */
  color: black; /* Change color as needed */
}

.btn {
  align-items: center;
  background-color: #3c3633; /* Blue color for the button */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding around the button text */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border-radius for rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
}

.btn:hover {
  background-color: #747264; /* Darker blue color on hover */
}

.btn-large {
  font-size: 1.2em; /* Increase font size for large button */
}

.btn-medium {
  margin: 10px;
  font-size: 0.8em; /* Increase font size for large button */
}

.image-container {
  margin-top: 20px;
  max-width: 800px; /* Optional: Set maximum width for the container */
  max-height: 500px; /* Optional: Set maximum height for the container */
}

.image-container img {
  max-width: 100%; /* Set maximum width for the image */
  max-height: 100%; /* Set maximum height for the image */
}
